Django
djangorestframework
django-cors-headers
django-allauth
dj-rest-auth
djangorestframework-simplejwt
django-environ
Pillow
psycopg2-binary
requests
cryptography
PyJWT>=2.8.0
whitenoise
dj-database-url

